
.navbar {
    display:flex;
    flex-direction: row;
}

.navbar .navbar-L {
    flex-grow: 1;
    margin: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    padding-left:18px;
    justify-content: flex-start;
    list-style-type: none;
}

.navbar .navbar-L li a { 
    margin: 15px;
    color: rgba(0,0,0,.54);
    font-size: small;
    font-weight: bold;
}

.navbar .navbar-R {
    margin: 40px;
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    padding-left:18px;
    justify-content: flex-end;
}

.navbar .navbar-R li a {
    margin: 15px;
    color: rgba(0,0,0,.54);
    font-size: small;
    font-weight: bold;
}

.material-icons {
    margin-top: -11px;
    margin-left: 15px;
    padding: 10px;
}

.material-icons:hover {
    background: lightgrey;
    border-radius: 20px;
}


.navbar .navbar-R .nav-button {
    height: 40px;
    width: 110px;
    padding-top: 10px;
    padding-left: 35px;
    margin-left: 20px;
    border-radius: 3px;
    margin-top: -10px;
    background: #1A73E8;
    color: white;
}

.navbar .navbar-R .nav-button:hover {
    background: #2B7DE9;
    color: white;
}

.main-container {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.main-container .logo {
    text-align: center;
    margin-top: 12vh;
    margin-bottom: 4vh;
}


.main-container .searchbox{
    width:500px;
    line-height: 30px !important;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    min-width: 450px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    padding-left: 20px;
    outline: none !important;
}

.main-container .searchbox:hover {
    box-shadow: 1px 1px lightgrey;
}


.main-container .button-container {
    margin-top: 3vh;
    display: flex;
    flex-wrap:nowrap;
    justify-content:center;
}
.main-container .button-container .button {
    font-size: medium;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: rgba(0,0,0,.54);
    background: #f2f2f2;
}

.main-container .button-container .button:hover {

    border: 1px solid lightgrey;
}


.footer {
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    height: 12vh;
    line-height: 6vh;
    background: #f2f2f2;
    color: rgba(0,0,0,.54);
    font-size:large;
}

.footer .country {
    display: flex;
    margin-left: 12px;
    border-bottom: 1px solid #dadce0
}

.footer .footer-links {
    display: flex;
    flex-direction: row;
    margin:0;
    padding:0;
    overflow:visible;
}

.footer .footer-links .links-left {
    display: flex;
    flex-direction: row;
    padding-left:18px;
    justify-content: flex-start;
}

.footer .footer-links .links-left li{
    display:inline-flex; 
    width: auto; 
}

.footer .footer-links .links-left li a{
    color: rgba(0,0,0,.54);
    margin-right: 40px;
    min-width: 60px;
    overflow:visible;
}


.footer .footer-links .links-right {
    display: flex;
    flex-direction:row;
    flex-grow: 1;
    justify-content: flex-end;
}

.footer .footer-links .links-right li{ 
    display:inline-flex;
    margin-right:40px;
}

.footer .footer-links .links-right li a{
    color: rgba(0,0,0,.54);
}



@media (max-width: 900px) {
    
    .footer .footer-links .links-right {
        justify-content: flex-start;
    }

    .footer .footer-links .links-left li a {
        min-width: 20px;
        margin-right: 10px;
    }

}

@media (max-width: 700px) {

    .navbar .navbar-R {
        position: absolute;
        right: -10px;
    }
    .navbar .navbar-R li a {
        padding: 0px;
        margin: 5px;
    }

    .footer {
        height: 18vh;
    }
    .footer .footer-links {
        flex-direction: column;
    }
    .footer .footer-links .links-right {
        margin-top: -12px;
        padding-left:12px;
        justify-content: flex-start;
    }
    .footer .footer-links .links-left li a {
        min-width: 20px;
        margin-right: 10px;
    }
}

@media (max-width: 500px) {
    .navbar .navbar-L {
        visibility: hidden;
    }

    .main-container {
        width: 400px; 
        margin-left: auto;
        margin-right: auto;
    }
    .main-container .logo {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .main-container .searchbox {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

}

